name: Cypress E2E Tests

on:
  workflow_dispatch:
    inputs:
      test-data-filename:
        description: 'Test fixture file name'
        required: true
        default: 'commands.json'

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Install dependencies
        run: npm ci

      - name: Run Svelte dev server
        run: npm run dev &

      - name: Wait for dev server to start
        run: npx wait-on http://localhost:5173

      - name: Run Cypress
        run: |
          npm run cypress:run --env DATA_FILE_NAME=${{ inputs.test-data-filename }} &&
          npx mochawesome-merge ${{ github.workspace }}/cypress/results/*.json > e2e-results.json &&
          npx marge e2e-results.json -o ${{ github.workspace }}/cypress/results/out

      - name: Get current time
        uses: josStorer/get-current-time@v2.0.1
        id: current-time
        with:
          format: YYYYMMDDHHmmss
          utcOffset: '+09:00'

      - name: Upload logs as artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.current-time.outputs.formattedTime }}-cypress-logs
          path: ${{ github.workspace }}/cypress/results/out/
