name: Cypress E2E Tests

on:
  workflow_dispatch:
    inputs:
      test-data-filename:
        description: 'Test fixture file name'
        required: true
        default: 'commands.json'

jobs:
  run-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Use Node.js 18
        uses: actions/setup-node@v3
        with:
          node-version: 18.x

      - name: Install dependencies
        run: npm ci

      - name: Run Cypress
        id: cypress
        run: |
          npm run cypress:run --env DATA_FILE_NAME=${{ inputs.test-data-filename }} > cypress-logs.txt
          echo "::set-output name=logs-path::cypress-logs.txt"
      
      - name: Get current time
        uses: josStorer/get-current-time@v2.0.1
        id: current-time
        with:
          format: YYYYMMDDHHmmss
          utcOffset: "+09:00"
      
      - name: Upload logs as artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ steps.current-time.outputs.formattedTime }}-cypress-logs.txt
          path: ${{ steps.cypress.outputs.logs-path }}
